body div .smallNav {
    cursor: pointer;
    color: gray;

    &:hover {
        color: black;
    }

    padding: 2rem 0;
}

body .aboutPage {

    .about {
        display: flex;
        align-items: center;

        img {
            max-width: 600px;
            margin: 2rem 0;
            padding-left: 6rem;
        }

        .text {
            min-width: 300px;

            h1 {
                font-size: 3rem;
                margin-bottom: 4rem;
            }

            p {
                font-size: 16px;
                line-height: 1.5rem;
            }
        }
    }


    .sqaures {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 10rem 0;

        article {

            border: solid 1px black;
            text-align: center;
            overflow-wrap: break-word;

            h1 {
                padding: 2rem;
                font-weight: 500;
            }


        }
    }

    .imggrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 10rem 5rem 0;
        gap: 5rem;

        article {
            img {
                width: 100%;
            }
        }

    }

    .icongrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 10rem;
        margin-top: 5rem;
    }
}