.slider_container {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    gap: 30px;

    .slider {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        white-space: nowrap;
        gap: 15px;
    }
    .slider::-webkit-scrollbar {
        display: none;
    }
}
.arrows {
    display: flex;
    justify-content: space-between;
    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    .viewAll {
        padding: 6px 30px;
        background-color: #db4444;
        color: white;
        border-radius: 4px;
        font-size: 16px;
    }
}
