.registerForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 135px;
    gap: 40px;
    h1 {
        font-size: 36px;
        font-weight: medium;
    }
    p {
        font-size: 16px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 18px;
        input {
            width: 100%;
            color: #7d8184;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #c4c4c4;
            border-radius: 4px;
            font-size: 16px;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            button {
                width: 100%;
                padding: 15px 30px;
                border-radius: 4px;
                font-size: 16px;
            }
            button:first-of-type {
                background-color: #db4444;
                color: white;
                border: none;
            }
            button:nth-of-type(2) {
                background-color: white;
                border: 1px solid #c4c4c4;
            }
            a {
                text-decoration: none;
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
