.topHeader {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48px;
    margin-left: -135px;
    position: relative;
    p {
        color: #fafafa;
        margin: auto auto;
        font-size: 14px;
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    div {
        select {
            background-color: black;
            color: white;
            border: none;
            margin: auto 135px;
        }
    }
}
