.topNav {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    h2 {
    }
    li {
        list-style-type: none;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .search {
        position: relative;
        display: inline-block;
        form {
            input {
                background-color: grey;
                border: none;
            }
        }
        img {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-90%);
        }
    }
    .icons {
    }
}
