.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 94px;
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    .links {
        list-style-type: none;
        display: flex;
        gap: 48px;
        a {
            font-size: 16px;
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .search_icons {
        display: flex;
        align-items: center;
        div {
            position: relative;

            form {
                input {
                    background-color: #f5f5f5;
                    border: none;
                    height: 38px;
                    width: 243px;
                    padding-left: 20px;
                }
            }
            img {
                position: absolute;
                right: 6px;
                top: 6px;
            }
        }
        .icons {
            display: flex;
            padding-left: 10px;
            gap: 10px;
            height: 32px;
        }
    }
}

hr {
    width: 100vw;
    margin-left: -135px;
    border-width: 0;
    padding: 0;
    height: 2px;

    background-color: rgb(230, 226, 226);
}
